body {

  margin: 0;
  padding: 0;
  font-family: "Roboto",Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
  }


.grey {
  background-color: #eeeeee;
  color: inherit;
}

a {
  text-decoration: none;
}
a.buttom {
 display: block;
width: 234px;
padding: 13px 0;
margin-top: 25px;
font-size: 16px;
line-height: 18px;
color: #ffffff;
text-transform: uppercase;
text-align: center;
background: #fb565a;
border-radius: 3px;
border: 3px solid #fb565a;
}


.main-navigation {
  font-size: 16px;
    line-height: 30px;
    color: #000000;
    font-weight: 600;

}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:link {
  color: #000000;
}
.site-navigation a:visited{
    color: #eeeeee;
}
.site-navigation a:hover{
  color: #fb565a
}
.site-navigation a:active{
  color: #000000;
  text-decoration: underline;
  text-decoration-color:#fb565a
}

.main-tagline {
margin: 0px;
}

.grey h1 {
margin: 0px;
}
.basket{
  list-style: none;
  font-weight: 600;
  margin: 0px;
}

.basket a:link {
    color: #000000;
  }
.basket a:visited{
      color: #eeeeee;
  }
.basket a:hover{
    color: #fb565a
  }
.basket a:active{
    color: #000000;
    text-decoration: underline;
    text-decoration-color:#fb565a
  }

.tagline h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
  color: #000000;
  text-align:left;
}
.tagline p {
  font-size:16px;
  line-height:24px;
  font-weight: 400;
  color:inherit;
  margin: 0 0 37px;
  padding: 0;
  text-align:left;
}
.slide1 {
  background-image: url("../img/slide1.png");
   width:633px;
    height:430px;
  background-color: #eeeeee;
 background-position: top right;
  background-repeat: no-repeat;
}
.slide2{
background-image: url("../img/slide2.png");
width:633px;
 height:430px;
background-color: #eeeeee;
background-position: top right;
background-repeat: no-repeat;
}
.slide3{
background-image: url("../img/slide3.png");
width:633px;
 height:430px;
background-color: #eeeeee;
background-position: top right;
background-repeat: no-repeat;
}

  .logo-img a:link {
      color: #000000;
    }
  .logo-img  a:visited{
        color: #a6a6a6;
    }
  .logo-img  a:hover{
      color: #303030
    }


    .project-list {
      list-style: none;
    }
     .project-list h3 {
       font-size:24px;
       line-height:30px;
       font-weight: 700;
       color:#000000;
       text-align:left;
    }

    .project-list p {
      font-size:16px;
      line-height:24px;
      font-weight: 400;
      color:#000000;
      text-align:left;
    }

    .project-item a:first-child {
      width: 234px;
      padding: 13px 0;
      margin-top: 25px;
      font-size: 16px;
      line-height: 18px;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      background: #fb565a;
      border-radius: 3px;
      border: 3px solid #fb565a;

    }
    .project-item a:nth-child(2){
      width: 234px;
      padding: 13px 0;
      margin-top: 25px;
      font-size: 16px;
      line-height: 18px;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      background: #00ca74;
      border-radius: 3px;
      border: 3px solid #00ca74;

    }

    .project-item a:last-child{
      width: 234px;
      padding: 13px 0;
      margin-top: 25px;
      font-size: 16px;
      line-height: 18px;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      background: #efc84a;
      border-radius: 3px;
      border: 3px solid #efc84a;
    }

.small-studio {
      list-style: none;
    }

.small-studio b{
  font-size: 45px;
  line-height: 45px;
  font-weight:600;
  color:#0e0e0e;
  background-color:inherit;
  margin:47px;
  text-align:left;

}
.small-studio p {
  font-size: 16px;
  line-height: 24px;
  color:inherit;
  font-weight:400;
  background-color:inherit;
  text-align:left;
}


.small-studio ul {
  font-size: 16px;
  line-height: 24px;
  color:inherit;
  font-weight:400;
  background-color:inherit;
  text-align:left;
  list-style:none;

}
.small-studio ul li ::before {
content: "-";
position: absolute;
  top:10px;
  left:1px;
  width:25px;
  border-bottom:2px solid #fb565a;
}

.we-do {
  list-style: none;
}
    .we-do b{
      font-size: 16px;
      line-height: 24px;
      font-size:400;
      color:#000000;
    }
.partners-list  {
  list-style: none;
}
    .partners a:link{
    color:#d4d4d4;
    }
      .partners a:visited{
        color:#e8e8e8;
      }

        .partners a:hover{
          opacity: #030303;
        }

        .statistic th {
          font-size:45px;
          line-height:10,06px
        }

        .contacts {
          font-size:16px;
          line-height:18px;
          color:#666666;
          text-align: left;
        }

        .contacts h3 {
          font-size:18px;
          line-height:30px;
          color:#000000;
          text-align: center;
        }

         caption {
          font-weight:700;
          text-align: :center;
        }
        caption th {
          font-size: 46px;
          line-height: 10.06px;
          font-weight:700;
          text-align: :center;
            color:#000000;
        }
         caption td {
          font-size:16px;
          line-height: 18px;
          font-weight:400;
          text-align: :center;
            color:inherit;
        }

        .contacts a.buttom {
          display: block;
         width: 234px;
         padding: 13px 0;
         margin-top: 25px;
         font-size: 16px;
         line-height: 18px;
         color: #ffffff;
         text-transform: uppercase;
         text-align: center;
         background: #fb565a;
         border-radius: 3px;
         border: 3px solid #fb565a;

        }

        .friends {
          list-style: none;
        }

        .friends b {
          font-size:36px;
          line-height:36px;
          font-weight:700;
          color:#000000;
        }
        .friends p {
          font-size:16px;
          line-height:22px;
          color:#444444;
          font-weight:400;
        }

        .pop-up-block {
          width:231px;
          height:361;
          background-color: #eeeeee;
        }

body .inner-page {

}

  .forms fieldset {
  border: none;
}
  .forms legend {

  }

  .forms  ul {
  list-style: none;
  line-height:20px;
  color:inherit;
}

.filter-input:hover + label {
  color: #000000
}



.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.3;
}

button{
display: block;
width: 234px;
padding: 13px 0;
margin-top: 25px;
font-size: 16px;
line-height: 18px;
color: #000000;
text-transform: uppercase;
text-align: center;
background: #eeeeee;
border-radius: 3px;
border: 3px solid #eeeeee;
}

.form-price b {
  font-size:18px;
  line-height:30px;
  color:000000;
}

.form-grid b {
  font-size:18px;
  line-height:30px;
  color:000000;
}
.inner h1 {
  font-size:55px;
  line-height:55px;
  color:000000;
  text-align: center;
}
.visually-hidden {
  display:none;
}

.shop-navigation b {
  font-size:19px;
  line-height:30px;
  color:#000000;
  text-align: left;
  font-weight:bold;
}
.shop-navigation a {
    color:#000000;
}


.filter ul {
font-size:14px;
line-height:18px;
color:#000000;
text-align: right;
font-weight:400;
list-style: none;
}

.templates-items {
  list-style: none;
}

.templates-navigation{
    list-style: none;
}
.items-list ul {
    font-size:16px;
    line-height:18px;
    color:#000000;
    font-weight:600;
}

.partners-list a:link {
color:#000000;
  opacity: 0.2;
}

.partners-list a:hover {
color:#000000;
  opacity: 1;
}
