body {

  margin: 0;
  padding: 0;
  font-family: "Roboto",Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
  }

  .container {
    width:1160px;
    padding: 0 20px;
    margin:0 auto;
  }


.grey {
  background-color: #eeeeee;
  color: inherit;
}

a {
  text-decoration: none;
}

.main-navigation {
  padding-top:   3px;
  font-size: 16px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
    text-transform:uppercase;
    width:1160px;
    padding: 0 20px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;

}

.site-navigation {
  list-style:   none;
	display:   flex;
	padding-left:   0;
	width:   442px;
	padding-right:   8px;
	justify-content:   space-between;
  display:flex;
}
.site-navigation li{
  margin: 0;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:link {
  color: #000000;
}

.site-navigation a:hover{
  color: #fb565a
}
.site-navigation a:active{
  color: #000000;
  position:relative;
  }
.site-navigation a:active::before {
  content:"";
  display: block;
  position: absolute;
  left:0;
  bottom:-7px;
  background:#fb565a;
  width:100%;
  height:2px;
}

.basket{
  list-style:   none;
	font-weight:   500;
	margin:   0px;
}

.basket a:link {
    color: #000000;
  }
.basket a:visited{
      color: #eeeeee;
  }
.basket a:hover{
    color: #fb565a
  }
.basket a:active{
    color: #000000;
    text-decoration: underline;
    text-decoration-color:#fb565a
  }

.tagline h3 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  text-align:left;
  margin: 0px;
  font-weight: 500;
  padding-top: 65px;
}
.tagline p {
  font-size:16px;
  line-height:24px;
  font-weight: 400;
  color:inherit;
  margin: 0 0 37px;
  padding: 0;
  text-align:left;
  padding-top:   28px;
}
.slide {
  padding-bottom:   81px;
	background:   url(./img/slide1.png);
	background-repeat:   no-repeat;
	background-position:   94% 6px;

}

    .project-list {
      list-style: none;
      display: flex;
      padding:0;
      margin:0;
      width:   1102px;
    	justify-content:   space-between;

}


    }
     .project-list h3 {
       font-size:24px;
       line-height:30px;
       font-weight: 700;
       color:#000000;
       text-align:left;
       margin:   0;
    }

    .project-list p {
      font-size:16px;
      line-height:24px;
      font-weight: 400;
      color:#283136;
      text-align:left;
      margin:   0;
 margin-top:   17px;
 padding-right:   20px;
    }
    .project-item{
 width:  300px;
}

.small-studio {
      list-style: none;
      width:670px;

    }

.studio-title{

  font-size: 45px;
  line-height: 45px;
  font-weight:500;
  color:#000000;
  background-color:inherit;
  text-align:left;
}
.small-studio p {
  font-size: 16px;
  line-height: 24px;
  color:inherit;
  font-weight:400;
  background-color:inherit;
  text-align:left;
  margin-top: 35px;
}


.small-studio ul {
  font-size: 16px;
  line-height: 24px;
  color:inherit;
  font-weight:400;
  background-color:inherit;
  text-align:left;
  list-style:none;
  padding-top: 8px;

}
.what-we-do {
  position: relative;

}
.what-we-do::before  {
content: "";
position: absolute;
  top:10px;
  left: -37px;
  width:25px;
  border-bottom:2px solid #fb565a;
}
.small-studio h3 {
  text-transform:uppercase;
  font-size: 16px;
  font-weight:600;
  color:#000000;
}

.we-do {
  list-style: none;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
    .we-do b{
      font-size: 16px;
      line-height: 24px;
      font-size:400;
      color:#000000;
    }
.partners {
  margin-top: 105px
}

.partners-list  {
  list-style: none;
  padding:0;
  margin:0;
  display: flex;
  justify-content: space-between;
}
    .partners a:link{
    color:#d4d4d4;
    }
      .partners a:visited{
        color:#e8e8e8;
      }

        .partners a:hover{
          opacity: #030303;
        }

        .statistic th {
          font-size:45px;
          line-height:10,06px;
          width:410px;
        }

        .contacts {
          font-size:16px;
          line-height:18px;
          color:#666666;
          text-align: left;
        }

        .contacts h3 {
          font-size:18px;
          line-height:30px;
          color:#000000;
          text-align: center;
        }

        }
        caption th {
          font-size: 46px;
          line-height: 10.06px;
          font-weight:700;
          text-align: :center;
            color:#000000;
        }
         caption td {
          font-size:16px;
          line-height: 18px;
          font-weight:400;
          text-align: :center;
            color:inherit;
        }

        .contacts a.button {
          display: block;
         width: 242px;
         padding: 13px 0;
         margin-top: 25px;
         font-size: 16px;
         line-height: 18px;
         color: #ffffff;
         text-transform: uppercase;
         text-align: center;
         background: #fb565a;
         border-radius: 3px;
         border: 3px solid #fb565a;
         border:   none;
       	min-height:   22px;
       	padding-top:   17px;

        }

        .friends {
          list-style: none;
        }

        .friends b {
          font-size:36px;
          line-height:36px;
          font-weight:700;
          color:#000000;
        }
        .friends p {
          font-size:16px;
          line-height:22px;
          color:#444444;
          font-weight:400;
        }

        .pop-up-block {
          width:100%;
          height:200px;
          background-color: #eeeeee;
          position: absolute;
          bottom:0;
          left:0;

        }

body .inner-page {

}
.forms{
  width:350px;
}
.catalog-content{
  width:800px;
}
  .forms fieldset {

  border: none;
}
  .forms legend {
font-weight:600;
font-size:18px;
text-transform: uppercase;
line-height: 30px;
  }

  .forms  ul {
  list-style: none;
  line-height:20px;
  color:inherit;
}

.filter-input:hover + label {
  color: #000000
}



.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.3;
}

button{
display: block;
width: 234px;
padding: 13px 0;
margin-top: 25px;
font-size: 16px;
line-height: 18px;
color: #000000;
text-transform: uppercase;
text-align: center;
background: #eeeeee;
border-radius: 3px;
border: 3px solid #eeeeee;
}

.form-price b {
  font-size:18px;
  line-height:30px;
  color:000000;
}

.form-grid b {
  font-size:18px;
  line-height:30px;
  color:000000;
}
.inner h1 {
  font-size:55px;
  line-height:55px;
  color:#000000;
  text-align: center;
  font-weight:500;
}

.shop-navigation b {
  font-size:19px;
  line-height:30px;
  color:#000000;
  text-align: left;
  font-weight:bold;
}
.shop-navigation a {
    color:#000000;
}
.filter{
  margin-left: auto;
  display:flex;
  list-style: none;
  padding:0;
}

.filter ul {
font-size:14px;
line-height:18px;
color:#000000;
text-align: right;
font-weight:400;
list-style: none;
}

.templates-items {
  list-style: none;
  padding:0;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.templates-item{
  width:360px;
  position: relative;
}

.templates-navigation{
list-style:none;
padding:0;
}
.items-list ul {
  list-style:none;
  font-size:16px;
  line-height:18px;
  color:#000000;
  font-weight:600;
}

.partners-list a:link {
color:#000000;
  opacity: 0.2;
}

.partners-list a:hover {
color:#000000;
  opacity: 1;
}

.page-header {
  background-color: #eeeeee;
  padding-top:   48px;
}

.tagline {
background-color: #eeeeee
}

.button {
  display: block;
  width: 242px;
  padding: 13px 0;
  margin-top: 25px;
  font-size: 16px;
  line-height: 18px;
  color:#ffffff;
  text-transform: uppercase;
  text-align: center;
  background: #fb565a;
  border-radius: 3px;
  border: none;
  border:   none;
  min-height:   22px;
  padding-top:   17px;
}

.button-site {
    background-color:#fb565a;
    height: 20px;
    width: 160px;
    margin-top: 33px;
    padding-top: 17px;
    min-height: 20px;

}

.button-app {
    background-color:#00ca74;
    height: 20px;
    width: 160px;
    margin-top: 33px;
    padding-top: 17px;
    min-height: 20px;

}

.button-presentation {
    background-color:#efc84a;
    min-height: 20px;
    width: 160px;
    margin-top: 33px;
    padding-top: 17px;

}

.social-link {
  background-color: #eeeeee;
  display:block;
  width:30px;
  height:30px;
  border-radius:50%;
}

.table-title {
  text-transform: uppercase;
  font-weight: 600;
  color:black;
}
.percent {
font-size:24px;
vertical-align:super;
}

.studio-name {
  text-transform: uppercase;
}
.address {
  color:#666666
}
.call-action {
  font-weight: 600;
  font-size:36px;
  line-height:36px;
  color:#000000;
}

.discount {
  color:#444444;
  font-weight: 400;
  font-size:16px;
  line-height:22px;
}

.contact-us h2 {
  color:#000000;
  font-weight: 500;
  font-size:45px;
  line-height:45px;
  }

  .user-data {
    font-weight: 600;
    color:#000000
  }
.user-data input::placeholder{
  font-size:16px;
  line-height: 18px;
  font-weight: 400;
  color:#444444;
  opacity:0.5;
}

.user-data textarea::placeholder {
  font-size:16px;
  line-height: 18px;
  font-weight: 400;
  color:#444444;
  opacity:0.5;
}
.project {
margin-top:   78px;
}

.project-title {
  text-transform: uppercase;
  padding-top:   17px;
  font-size: 24px;
  line-height: 30px;
  margin:0;
}
.percent-title{
  font-size: 45px;
  line-height:10px;
  font-weight:600;
  color:black;
}

.filer-label{
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.filter-price{
  font-size: 16px;
  line-height:22px;
  color: #283136

}
.filter-price::placeholder {
  font-size: 16px;
  line-height:22px;
  color: #283136
}
.sort-title {
  font-size: 18px;
  line-height:30px;
  font-weight: 600;
  text-transform: uppercase;
}
.filer-link{
  font-weight: 400;
  font-size:14px;
  line-height: 18px;
  color:#4d4d4d;
  text-transform: uppercase;
}
.popup-title{
  text-transform: uppercase;
  text-align: center;
  font-size:18px ;
  line-height:30px ;
  color:black;
}
.popup-text{
  text-align: center;
  line-height:18px ;
  color:#666666;
}
.pagination-link{
  font-weight: 500;
  font-size:16px;
  line-height:18px;
  color:black;
  text-transform: uppercase;
  display:block;
  max-width:40px;
  text-align:center;
  padding:10px 15px;
  background-color: #eeeeee;
}

.pagination-next {
    background-color: #eeeeee;
    max-width:140px;
}
.items-list{
  list-style:none;
  display:flex;
  padding:0;

}

.items-list li{
  margin-right:5px;
}
.about{
  margin-top: 118px;
  display: flex;
  justify-content:space-between;
}
.contact-info{
  position: absolute;
  background-color: white;
  z-index: 20;
  top:56px;
  left:calc((100vw - 1200px)/2);
}

.map {
position:relative ;
text-align: center;
margin-top: 120px;

}
iframe {
  position:absolute;
  top:0;
  left:0;

}
.social-icons{
  padding:0;
  list-style:none;
  display:flex;
}
.social-footer{
  display:flex;
}
.catalog-wrap {
  display:flex;
}
.choice-list{
  display:flex;

}
.filter-up-down {
  display:flex;
  padding:0;
  list-style:none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.basket-link {
  position: relative;
  padding-left: 36px;
}
.basket-link::before {
  position:   absolute;
	left:   -5px;
	top:   2px;
	content:   "";
	display:   block;
	width:   19px;
	height:   16px;
	background:   url(../img/cart-icon.svg) 50% 50% no-repeat;
	background-size:   contain;
}
